FORMAT: 1A
HOST: https://api.dominodatalab.com

# Domino Data Lab API

Domino has two types of APIs:

1. The **Domino API** that you can use to operate and administer Domino services. These APIs are documented on this page.
2. The **Model API** serves your code as a low-latency web service. You don't need any API design experience
   to turn your Python or R code into a Model API Endpoint. [Learn more about Model APIs here.](https://support.dominodatalab.com/hc/en-us/articles/115001488023-Model-Manager-Overview-)

Please note: 
* The base URL will depend on your deployment of Domino. Replace `https://api.dominodatalab.com` in
the examples below with the URL of your Domino deployment. This will be the same as the URL you visit in your browser
when you use the Domino application.
* To authenticate your requests, include your API Key with the header `X-Domino-Api-Key`. You can find this key on your
user account page in the Domino application.


# Group Project runs and files

These endpoints allow you to interact with your project's runs and files.

## Project runs [/v1/projects/{username}/{project_name}/runs]

### Get a list of runs [GET]

+ Parameters

    + username: `nick` (string, required) - The project owner's username
    + project_name: `winequality` (string, required) - The project name

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes

        + objectType: `list` (string) - The type of object the API returned.
        + uri (string) - The URI that responded to your request.
        + data (array[Run status]) - Array of run statuses.


### Start a run [POST]

+ Parameters

    + username: `nick` (string, required) - The project owner's username
    + project_name: `winequality` (string, required) - The project name

+ Request (application/json)

    + Attributes

        + command: `model.py`, `random-argument`, `--sample`, `2000` (array, required) - Array of strings making up your command. For example:

            ```python
                    ["model.py", "random-argument", "--sample", "2000"]
            ```

        + isDirect: `false` (boolean, required) - A direct command is interpretted as a shell command; Domino doesn't try to infer a program to match your file type.
        + title: `This one should work!` (string) - An optional title for your run.
        + tier: `gpu` (string) - Identifier of the hardware tier to use. This should be the human-readable name of the hardware tier, such as "Free", "Small", "Medium" etc. 
        + commitId: `1c6e8aa47951e39f9a905f0077af9355c35b712b` (string) - Revision at which to start the run.
        + publishApiEndpoint: `false` (boolean) - __This field will be deprecated in future versions.__ If true, the results of a successful run will be deployed to the project's active API Endpoint, if one exists.
        + datasetConfig: '' (string) - Deprecated in 4.5. The optional name of a Dataset configuration from a domino.yaml file; used to start a run with a specific dataset configuration mounted.

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes
        + runId: `553af271e4b0364c0f717b24` (string) - The unique ID for the run that was just started.
        + message: `Run for project <username>/<project_name> started. You can view progress here: https://app.dominodatalab.com/<username>/<project_name/runs/553af271e4b0364c0f717b24` (string) - A human-readable message with a full link to view the status of your run.

## Run status [/v1/projects/{username}/{project_name}/runs/{run_id}]

### Get the status of a run [GET]

+ Parameters

    + username: `nick` (string, required) - The project owner's username.
    + project_name: `winequality` (string, required) - The project name.
    + run_id (string, required) - The unique ID for the run.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (Run status)

## Run logs [/v1/projects/{username}/{project_name}/run/{run_id}/stdout?{previewNumberOfLines}]

### Get run logs [GET]

+ Parameters
    + username: `nick` (string, required) - The project owner's username
    + project_name: `winequality` (string, required) - The project name
    + run_id (string, required) - The unique ID for the run
    + previewNumberOfLines (int, optional) - Take the last _N_ lines of the log output

+ Request
    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)
    + Attributes
        + setup: `Downloading blobs\n0 of 1 transferred...\n`(string) - Logs output during the setup of the run
        + stdout: `Hello, World!\n` (string) - Logs outputted from user code during the run.  Note that this field also include stderr logs as well.

## Project files [/v1/projects/{username}/{project_name}/files/{commit_id}/{path}]

### Get a list of files in a commit [GET]

+ Parameters

    + username: `nick` (string, required) - The project owner's username.
    + project_name: `winequality` (string, required) - The project name.
    + commit_id: `8f5622ad68829da47ab9be2660c962a56df6003e` (string, required) - The commit ID of the revision of the project you want files for.
    + path: `/` (string, required) - The path you want files for.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)


## File contents [/v1/projects/{username}/{project_name}/blobs/{blob_id}]

### Get the contents of a file [GET]

+ Parameters

    + username: `nick` (string, required) - The project owner's username.
    + project_name: `winequality` (string, required) - The project name.
    + blob_id: `adfjlklasdfhjklah8323hfjkdf` (string, required) - The unique ID of the blob.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200


## File uploads [/v1/projects/{username}/{project_name}/{path}]

### Upload a file to a project [PUT]

+ Parameters

    + username: `nick` (string, required) - The project owner's username.
    + project_name: `winequality` (string, required) - The project name.
    + path: `data/randomNumbers.rdata` (string, required) - Where you want the file to be saved. You can include `/` to upload files into directories that exist.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Body

            <CONTENTS_OF_YOUR_FILE>

+ Response 201 (application/json)

    + Headers

            Location: https://app.dominodatalab.com/v1/projects/marks/quick-start/blobs/5c28ab880e29953e41b91e351f786a833fbf18a5
            Transfer-Encoding: chunked

    + Attributes
        + path: `data/randomNumbers.rdata` (string, required) - Path your file was saved to.
        + lastModified: `1475878612000` (number, required) - Milliseconds epoch time the file was last modified.
        + size: `32690` (number, required) - The size of the file you uploaded, in bytes.
        + key: `5c28ab880e29953e41b91e351f786a833fbf18a5` (string, required) - The blob ID for the file. Used by the `File contents` API.
        + url: `https://app.dominodatalab.com/v1/projects/marks/quick-start/blobs/5c28ab880e29953e41b91e351f786a833fbf18a5` (string, required) - The full URL to the blob. This can be used to re-download the file.


# Group Search

These endpoints allow you to search for projects, runs, files, and comments.

## Domino object search [/v1/search{?query,area}]

### Execute a search [GET]

+ Parameters
    + query: `shiny` (string, required) - The phrase to search for.
    + area: `project` (string, required) - The type of object to search. Valid values are `project`, `run`, `file`, and `comment`.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)


# Group Environments

These endpoints allow you to interact with your environments.

## Environments [/v1/environments]

### Get a list of v2 environments [GET]

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes

        + objectType: `list` (string) - The type of object the API returned.
        + data (array[Environment list item]) - Array of environments.


# Group Models

These endpoints allow you to interact with your project's models.

## Project models [/v1/projects/{username}/{project_name}/models]

### Get a list of models published by a project [GET]

**This is a beta endpoint available in Domino 2.5+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters
    + username: `nick` (string, required) The project owner's username.
    + project_name: `winequality` (string, required) - The project name.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes

        + objectType: `list` (string) - The type of object the API returned.
        + data (array) - Array of models.
            - (Model Base)

## Model publishing [/v1/models]

### Publish a new model [POST]

**This is a beta endpoint available in Domino 2.5+**<br>
**Its specification may change in future versions of Domino.**

+ Request (application/json)

    + Attributes (Model Create)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (Model Response)


## Model versions [/v1/models/{model_id}/versions]

### Get the latest versions of a model [GET]

**This is a beta endpoint available in Domino 2.5+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + model_id: `5a73a6b86278f5c536008832` (string, required) - The unique id of the model to version.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes
        + data (array[Model Version List Item])

### Publish a new model version [POST]

**This is a beta endpoint available in Domino 2.5+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + model_id: `5a73a6b86278f5c536008832` (string, required) - The unique id of the model to version.

+ Request (application/json)

    + Attributes (Model Version Create)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (Model Version Response)
    

## Build Model Image [/v4/models/buildModelImage]

### Build a model image  [POST]

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "modelName": "",
              "projectId": "000000000000000000000000",
              "inferenceFunctionToCall": "",
              "inferenceFunctionFile": "",
              "logHttpRequestResponse": false,
              "description": "",
              "environmentId": "000000000000000000000000",
              "modelId": "000000000000000000000000"
            }

    + Schema

            {
              "properties": {
                "description": {
                  "type": "string"
                },
                "environmentId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "inferenceFunctionFile": {
                  "type": "string"
                },
                "inferenceFunctionToCall": {
                  "type": "string"
                },
                "logHttpRequestResponse": {
                  "type": "boolean"
                },
                "modelId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "modelName": {
                  "type": "string"
                },
                "projectId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                }
              },
              "required": [
                "modelName",
                "projectId",
                "inferenceFunctionToCall",
                "inferenceFunctionFile",
                "logHttpRequestResponse"
              ]
            }

+ Response 202 (application/json)

    Request accepted, building of model image continues offline

    + Attributes

    + Body

            [
              {
                "modelId": "000000000000000000000000",
                "name": "",
                "environmentId": "000000000000000000000000",
                "projectId": "000000000000000000000000",
                "projectName": "",
                "buildStatus": "",
                "modelVersionId": "000000000000000000000000",
                "modelVersionNumber": -100000000,
                "description": ""
              }
            ]

    + Schema

            {
              "items": {
                "$ref": "#/definitions/domino.modelmanager.web.BuildModelImageApiResponse"
              },
              "type": "array",
              "$schema": "http://json-schema.org/draft-04/schema#",
              "definitions": {
                "domino.modelmanager.web.BuildModelImageApiResponse": {
                  "properties": {
                    "buildStatus": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "environmentId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionNumber": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "projectId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "projectName": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "modelId",
                    "name",
                    "environmentId",
                    "projectId",
                    "projectName",
                    "buildStatus",
                    "modelVersionId",
                    "modelVersionNumber"
                  ]
                }
              }
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "modelName": "",
              "projectId": "000000000000000000000000",
              "inferenceFunctionToCall": "",
              "inferenceFunctionFile": "",
              "logHttpRequestResponse": false,
              "description": "",
              "environmentId": "000000000000000000000000",
              "modelId": "000000000000000000000000"
            }

    + Schema

            {
              "properties": {
                "description": {
                  "type": "string"
                },
                "environmentId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "inferenceFunctionFile": {
                  "type": "string"
                },
                "inferenceFunctionToCall": {
                  "type": "string"
                },
                "logHttpRequestResponse": {
                  "type": "boolean"
                },
                "modelId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "modelName": {
                  "type": "string"
                },
                "projectId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                }
              },
              "required": [
                "modelName",
                "projectId",
                "inferenceFunctionToCall",
                "inferenceFunctionFile",
                "logHttpRequestResponse"
              ]
            }

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "modelName": "",
              "projectId": "000000000000000000000000",
              "inferenceFunctionToCall": "",
              "inferenceFunctionFile": "",
              "logHttpRequestResponse": false,
              "description": "",
              "environmentId": "000000000000000000000000",
              "modelId": "000000000000000000000000"
            }

    + Schema

            {
              "properties": {
                "description": {
                  "type": "string"
                },
                "environmentId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "inferenceFunctionFile": {
                  "type": "string"
                },
                "inferenceFunctionToCall": {
                  "type": "string"
                },
                "logHttpRequestResponse": {
                  "type": "boolean"
                },
                "modelId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "modelName": {
                  "type": "string"
                },
                "projectId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                }
              },
              "required": [
                "modelName",
                "projectId",
                "inferenceFunctionToCall",
                "inferenceFunctionFile",
                "logHttpRequestResponse"
              ]
            }

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "modelName": "",
              "projectId": "000000000000000000000000",
              "inferenceFunctionToCall": "",
              "inferenceFunctionFile": "",
              "logHttpRequestResponse": false,
              "description": "",
              "environmentId": "000000000000000000000000",
              "modelId": "000000000000000000000000"
            }

    + Schema

            {
              "properties": {
                "description": {
                  "type": "string"
                },
                "environmentId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "inferenceFunctionFile": {
                  "type": "string"
                },
                "inferenceFunctionToCall": {
                  "type": "string"
                },
                "logHttpRequestResponse": {
                  "type": "boolean"
                },
                "modelId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "modelName": {
                  "type": "string"
                },
                "projectId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                }
              },
              "required": [
                "modelName",
                "projectId",
                "inferenceFunctionToCall",
                "inferenceFunctionFile",
                "logHttpRequestResponse"
              ]
            }

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "modelName": "",
              "projectId": "000000000000000000000000",
              "inferenceFunctionToCall": "",
              "inferenceFunctionFile": "",
              "logHttpRequestResponse": false,
              "description": "",
              "environmentId": "000000000000000000000000",
              "modelId": "000000000000000000000000"
            }

    + Schema

            {
              "properties": {
                "description": {
                  "type": "string"
                },
                "environmentId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "inferenceFunctionFile": {
                  "type": "string"
                },
                "inferenceFunctionToCall": {
                  "type": "string"
                },
                "logHttpRequestResponse": {
                  "type": "boolean"
                },
                "modelId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "modelName": {
                  "type": "string"
                },
                "projectId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                }
              },
              "required": [
                "modelName",
                "projectId",
                "inferenceFunctionToCall",
                "inferenceFunctionFile",
                "logHttpRequestResponse"
              ]
            }

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

## Export Model Image Status [/v4/models/{exportId}/getExportImageStatus]

### Get model image export status [GET]

+ Parameters

    + exportId (required)

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    success

    + Attributes

    + Body

            [
              {
                "modelId": "000000000000000000000000",
                "modelVersionId": "000000000000000000000000",
                "exportId": "000000000000000000000000",
                "status": ""
              }
            ]

    + Schema

            {
              "items": {
                "$ref": "#/definitions/domino.modelmanager.web.ModelExportStatusApiResponse"
              },
              "type": "array",
              "$schema": "http://json-schema.org/draft-04/schema#",
              "definitions": {
                "domino.modelmanager.web.ModelExportStatusApiResponse": {
                  "properties": {
                    "exportId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "modelId",
                    "modelVersionId",
                    "exportId",
                    "status"
                  ]
                }
              }
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

## Export Model Image Logs [/v4/models/{exportId}/getExportLogs]

### Get model image export logs [GET]

+ Parameters

    + exportId (required)

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    success

    + Attributes

    + Body

            [
              {
                "modelId": "000000000000000000000000",
                "modelVersionId": "000000000000000000000000",
                "exportId": "000000000000000000000000",
                "status": "",
                "logs": ""
              }
            ]

    + Schema

            {
              "items": {
                "$ref": "#/definitions/domino.modelmanager.web.ModelExportLogsApiResponse"
              },
              "type": "array",
              "$schema": "http://json-schema.org/draft-04/schema#",
              "definitions": {
                "domino.modelmanager.web.ModelExportLogsApiResponse": {
                  "properties": {
                    "exportId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "logs": {
                      "type": "string"
                    },
                    "modelId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "modelId",
                    "modelVersionId",
                    "exportId",
                    "status",
                    "logs"
                  ]
                }
              }
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

## Export Model Image [/v4/models/{modelId}/{modelVersionId}/exportImageToRegistry]

### Export model image to external registry [POST]

+ Parameters

    + modelId (required)
    
    + modelVersionId (required)

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "password": "",
              "tag": "",
              "username": ""
            }

    + Schema

            {
              "properties": {
                "password": {
                  "type": "string"
                },
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                }
              },
              "required": [
                "registryUrl",
                "repository"
              ]
            }

+ Response 202 (application/json)

    Request accepted, exporting of model image continues offline

    + Attributes

    + Body

            [
              {
                "modelId": "000000000000000000000000",
                "modelVersionId": "000000000000000000000000",
                "exportId": "000000000000000000000000",
                "status": ""
              }
            ]

    + Schema

            {
              "items": {
                "$ref": "#/definitions/domino.modelmanager.web.ModelExportStatusApiResponse"
              },
              "type": "array",
              "$schema": "http://json-schema.org/draft-04/schema#",
              "definitions": {
                "domino.modelmanager.web.ModelExportStatusApiResponse": {
                  "properties": {
                    "exportId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "modelId",
                    "modelVersionId",
                    "exportId",
                    "status"
                  ]
                }
              }
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "password": "",
              "tag": "",
              "username": ""
            }

    + Schema

            {
              "properties": {
                "password": {
                  "type": "string"
                },
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                }
              },
              "required": [
                "registryUrl",
                "repository"
              ]
            }

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "password": "",
              "tag": "",
              "username": ""
            }

    + Schema

            {
              "properties": {
                "password": {
                  "type": "string"
                },
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                }
              },
              "required": [
                "registryUrl",
                "repository"
              ]
            }

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "password": "",
              "tag": "",
              "username": ""
            }

    + Schema

            {
              "properties": {
                "password": {
                  "type": "string"
                },
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                }
              },
              "required": [
                "registryUrl",
                "repository"
              ]
            }

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "password": "",
              "tag": "",
              "username": ""
            }

    + Schema

            {
              "properties": {
                "password": {
                  "type": "string"
                },
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                }
              },
              "required": [
                "registryUrl",
                "repository"
              ]
            }

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

## Export a Sagemaker compatible model image [/v4/models/{modelId}/{modelVersionId}/exportImageForSagemaker]

### Export a Sagemaker compatible model image to any external container registry [POST]

+ Parameters

    + modelId (required)

    + modelVersionId (required)

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "tag": "",
              "username": "",
              "password": ""
            }

    + Schema

            {
              "properties": {
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
              "required":[
                "inferenceFunctionToCall",
                "inferenceFunctionFile",
                "registryUrl",
                "repository"
              ]
            }



+ Response 200 (application/json)

    success

    + Attributes

    + Body

            {
              "modelId": "000000000000000000000000",
              "modelVersionId": "000000000000000000000000",
              "exportId": "000000000000000000000000",
              "status": ""
            }

    + Schema

            {
              "properties": {
                "modelId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "modelVersionId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "exportId": {
                  "pattern": "^[0-9a-f]{24}$",
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              },
              "required": [
                "modelId",
                "modelVersionId",
                "exportId",
                "status"
              ]
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "tag": "",
              "username": "",
              "password": ""
            }

    + Schema

            {
              "properties": {
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "tag": "",
              "username": "",
              "password": ""
            }

    + Schema

            {
              "properties": {
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "tag": "",
              "username": "",
              "password": ""
            }

    + Schema

            {
              "properties": {
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

    + Attributes

    + Body

            {
              "registryUrl": "",
              "repository": "",
              "tag": "",
              "username": "",
              "password": ""
            }

    + Schema

            {
              "properties": {
                "registryUrl": {
                  "type": "string"
                },
                "repository": {
                  "type": "string"
                },
                "tag": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }


## Build Model Image Logs [/v4/models/{modelId}/{modelVersionId}/getBuildLogs]

### Get model image build logs [GET]

+ Parameters

    + modelId (required)
    
    + modelVersionId (required)

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    success

    + Attributes

    + Body

            [
              {
                "modelId": "000000000000000000000000",
                "modelVersionId": "000000000000000000000000",
                "status": "",
                "logs": ""
              }
            ]

    + Schema

            {
              "items": {
                "$ref": "#/definitions/domino.modelmanager.web.ModelBuildLogsApiResponse"
              },
              "type": "array",
              "$schema": "http://json-schema.org/draft-04/schema#",
              "definitions": {
                "domino.modelmanager.web.ModelBuildLogsApiResponse": {
                  "properties": {
                    "logs": {
                      "type": "string"
                    },
                    "modelId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "modelId",
                    "modelVersionId",
                    "status",
                    "logs"
                  ]
                }
              }
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

## Build Model Image Status [/v4/models/{modelId}/{modelVersionId}/getBuildStatus]

### Get model image build status [GET]

+ Parameters

    + modelId (required)
    
    + modelVersionId (required)

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    success

    + Attributes

    + Body

            [
              {
                "modelId": "000000000000000000000000",
                "modelVersionId": "000000000000000000000000",
                "status": ""
              }
            ]

    + Schema

            {
              "items": {
                "$ref": "#/definitions/domino.modelmanager.web.ModelBuildStatusApiResponse"
              },
              "type": "array",
              "$schema": "http://json-schema.org/draft-04/schema#",
              "definitions": {
                "domino.modelmanager.web.ModelBuildStatusApiResponse": {
                  "properties": {
                    "modelId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "modelId",
                    "modelVersionId",
                    "status"
                  ]
                }
              }
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "properties": {
                "message": {
                  "description": "Error message",
                  "type": "string"
                }
              },
              "type": "object",
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

## Stop running Model API [/v4/models/{modelId}/{modelVersionId}/stopModelDeployment]

### Stop a Model API that is currently running on Domino [POST]

+ Parameters

    + modelId (required)
    
    + modelVersionId (required)

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    success

    + Attributes

    + Body

            [
              {
                "modelId": "000000000000000000000000",
                "modelVersionId": "000000000000000000000000",
                "status": ""
              }
            ]

    + Schema

            {
              "type": "array",
              "items": {
                "$ref": "#/definitions/domino.modelmanager.web.ModelDeploymentStatusApiResponse"
              },
              "$schema": "http://json-schema.org/draft-04/schema#",
              "definitions": {
                "domino.modelmanager.web.ModelDeploymentStatusApiResponse": {
                  "properties": {
                    "modelId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "modelId",
                    "modelVersionId",
                    "status"
                  ]
                }
              }
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

## Start Model API [/v4/models/{modelId}/{modelVersionId}/startModelDeployment]

### Start or deploy a Model API that is currently not running [POST]

+ Parameters

    + modelId (required)
    
    + modelVersionId (required)

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    success

    + Attributes

    + Body

            [
              {
                "modelId": "000000000000000000000000",
                "modelVersionId": "000000000000000000000000",
                "status": ""
              }
            ]

    + Schema

            {
              "type": "array",
              "items": {
                "$ref": "#/definitions/domino.modelmanager.web.ModelDeploymentStatusApiResponse"
              },
              "$schema": "http://json-schema.org/draft-04/schema#",
              "definitions": {
                "domino.modelmanager.web.ModelDeploymentStatusApiResponse": {
                  "properties": {
                    "modelId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "modelId",
                    "modelVersionId",
                    "status"
                  ]
                }
              }
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

### /v4/models/{modelId}/{modelVersionId}/modelDeploymentStatus

#### Get deployment status for a Model API [GET]

+ Parameters

    + modelId (required)
    
    + modelVersionId (required)

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 200 (application/json)

    success

    + Attributes

    + Body

            [
              {
                "modelId": "000000000000000000000000",
                "modelVersionId": "000000000000000000000000",
                "status": ""
              }
            ]

    + Schema

            {
              "type": "array",
              "items": {
                "$ref": "#/definitions/domino.modelmanager.web.ModelDeploymentStatusApiResponse"
              },
              "$schema": "http://json-schema.org/draft-04/schema#",
              "definitions": {
                "domino.modelmanager.web.ModelDeploymentStatusApiResponse": {
                  "properties": {
                    "modelId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "modelVersionId": {
                      "pattern": "^[0-9a-f]{24}$",
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "modelId",
                    "modelVersionId",
                    "status"
                  ]
                }
              }
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 400 (application/json)

    The server could not understand the request due to malformed syntax

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 401 (application/json)

    The current user cannot perform this operation because they are not logged in

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 403 (application/json)

    The current user is not authorized to perform this operation

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

+ Request (application/json)

    + Headers

            Accept: application/json

+ Response 500 (application/json)

    An internal error prevented the server from performing this action

    + Attributes (optional)

    + Body

            {
              "message": ""
            }

    + Schema

            {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Error message"
                }
              },
              "$schema": "http://json-schema.org/draft-04/schema#"
            }

# Group Users v4

These endpoints provide information about users in your deployment.

## Query users [/v4/users{?userId,userName,query}]

### Get a list of users [GET]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + userId: `poweruser,anotheruser` (array, optional) - Optional, returns only the users who match the IDs in this array.
    + userName: `poweruser` (string, optional) - Optional, returns only the single user with the exact provided username.
    + query: `p` (string, optional) - Optional, returns all usernames that start with this query string.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (array[v4 user])


## Self [/v4/users/self]

### Get current user [GET]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (v4 user)


# Group Organizations v4

These endpoints allow you interact with
[organizations](https://support.dominodatalab.com/hc/en-us/articles/204857715) in
your deployment.

## All organizations [/v4/organizations{?name}]

### Get a list of organizations [GET]

**This endpoint requires admin permissions.**<br>
**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + name: `goodOrg` (optional) - Optional, returns only the organization with the specified name.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (array[Organization])


## Create organization [/v4/organizations]

### Create a new organization [POST]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Request (application/json)

    + Attributes

      + name: `newOrg` - Name of new organization.
      + email: `domino@newOrg.suffix` - Email address for managing the organization in Domino.
      + members (array[Organization member])

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Body

                {
                  "name": "string",
                  "email": "string",
                  "members": [
                    {
                      "id": "string",
                      "role": "Member"
                    }
                  ]
                }

+ Response 200 (application/json)

    + Attributes (Organization)

      + name: `newOrg` (string)


## My organizations [/v4/organizations/self{?name}]

### Get a list of my organizations [GET]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + name: `goodOrg` (optional) - Optional, returns only the organization with the specified name.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (array[Organization])


## Organizations by ID [/v4/organizations/{orgId}]

### Get organization by ID [GET]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + orgId: `5a73a6906ece7a7aed984654` (required) - Identifier of organization to get.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (Organization)


## Organization members [/v4/organizations/{orgId}/members]

### Change the list of members [PUT]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + orgId: `5a73a6906ece7a7aed984654` (required) - Identifier of organization to modify members of.

+ Request (application/json)

    + Attributes

      + members (array[Organization member]) - Array of objects representing the desired list of members (Note: the list passed here will replace the existing member list. The current list can be retrieved by a call to the [organization-by-id](https://dominodatalab.github.io/api-docs/#/reference/organizations-v4/organizations-by-id/get-organization-by-id) API). 
    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (Organization)

# Group Projects v4

These endpoints allow you interact with your
[Domino projects](https://support.dominodatalab.com/hc/en-us/articles/360001055303).

## Get projects [/v4/projects{?name,ownerId}]

### Get a list of user's projects [GET]

**This is a beta endpoint available in Domino 2.9+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + name: `myProject` (optional) - Optional, returns the project information for the specified project belonging to the user.
    + ownerId: `507f191e810c19729de860ea` (optional) - Optional, returns projects belonging to owner, specified by owner's 24-character hexidecimal identifier.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (array[v4 project])


## Create project [/v4/projects]

### Create a new project [POST]

**This is a beta endpoint available in Domino 2.9+**<br>
**Its specification may change in future versions of Domino.**

+ Request (application/json)

    + Attributes (v4 new project)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Body

                {
                  "name": "string",
                  "description": "string",
                  "visibility": "Public",
                  "ownerId": "string",
                  "collaborators": [
                    {
                      "collaboratorId": "string",
                      "projectRole": "Contributor"
                    }
                  ],
                  "tags": {
                    "tagNames": [
                      "string"
                    ]
                  }
                }

+ Response 200 (application/json)

    + Attributes (v4 new project)


## Project fork [/v4/projects/{projectToForkId}/fork]

### Fork a project [POST]

**This is a beta endpoint available in Domino 2.9+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectToForkId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fork.

+ Request (application/json)

    + Attributes (v4 new project)

      + name: `forkedProject` - Name of destination project to fork into.

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Body

                {
                  "name": "string",
                  "description": "string",
                  "visibility": "Public",
                  "ownerId": "string",
                  "collaborators": [
                    {
                      "collaboratorId": "string",
                      "projectRole": "Contributor"
                    }
                  ]
                }

+ Response 200 (application/json)

    + Attributes (v4 new project)

      + name: `forkedProject` - Name of destination project to fork into.


## Project copy [/v4/projects/{projectToCopyId}/copy]

### Copy a project [POST]

**This is a beta endpoint available in Domino 2.9+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectToCopyId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to copy.

+ Request (application/json)

    + Attributes
      + name: `copiedProject` (string, required) - Project name.
      + description: `Doing data science.` (string) - Project description.
      + visibility: `Public` (enum[string]) - Project visibility setting.
         + Members
           + `Public`
           + `Searchable`
           + `Private`
      + ownerId: `5ac42816e4b0e9a0a82bbe8f` (string) - ID of project owner.
      + collaborators (array[v4 project collaborator]) - Objects representing collaborators.
      + tags (object)
         + tagNames (array[string]) - String text of tags to apply to the project.

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Body

                {
                  "name": "string",
                  "description": "string",
                  "visibility": "Public",
                  "ownerId": "string",
                  "collaborators": [
                    {
                      "collaboratorId": "string",
                      "projectRole": "Contributor"
                    }
                  ]
                }

+ Response 200 (application/json)

    + Attributes (v4 new project)

      + name: `copiedProject` - Name of destination project to copy into.


## Project updates [/v4/projects/{projectId}]

### Get project summary [GET]

**This is a beta endpoint available in Domino 2.9+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fetch summary for.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (v4 project)

### Update project description and visibility [PATCH]

**This is a beta endpoint available in Domino 2.9+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to update description and visibility for.

+ Request (application/json)

    + Attributes

      + description: `Doing new data science.` (string) - New description to apply to project.
      + visibility: `Public` (enum[string]) - Project visibility setting.
         + Members
           + `Public`
           + `Searchable`
           + `Private`

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Body

                {
                  "description": "string",
                  "visibility": "Public"
                }

+ Response 200 (application/json)


## Project tags [/v4/projects/{projectId}/tags]

### Add tags to project [POST]

**This is a beta endpoint available in Domino 2.9+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to add tags to.

+ Request (application/json)

    + Attributes

      + tagnames: `tag1`, `tag2` (array[string]) - Tag names to apply.

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Body

                {
                      "tagNames": [
                        "string"
                      ]
                }

+ Response 200 (application/json)

    + Attributes

      + id: `5a73a6906ece7a7aed984654` (string) - ID of the tag.
      + name: `tag1` (string) - Name of tag applied.


## Delete tags [/v4/projects/{projectId}/tags/{tagId}]

### Remove a tag from a project [DELETE]

**This is a beta endpoint available in Domino 2.9+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to remove a tag from.
    + tagId: `6fn891abd7306ece7a7aed984654` (string, required) - ID of the tag to remove.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)


## Project settings [/v4/projects/{projectId}/settings]

### Get settings for a project [GET]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fetch settings for.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes

      + defaultEnvironmentId: `n67shdg3ece7a7aed984654` (string) - ID of the project's default environment


### Update project settings [PUT]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fetch settings for.

+ Request (application/json)

    + Attributes

      + defaultEnvironmentId: `n67shdg3ece7a7aed984654` (string) - ID of the environment to use as project default

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Body

                {
                  "defaultEnvironmentId": "string"
                }

+ Response 200 (application/json)


## Project experiments [/v4/projects/{projectId}/experiments{?createdAfterExperiment,createdBeforeExperiment,limit}]

### Get experiments for a project [GET]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fetch experiments for.
    + createdAfterExperiment: `string` (string, optional)
    + createdBeforeExperiment: `string` (string, optional)
    + limit: `0` (number, optional)

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (array[v4 experiment])


## Project hardware [/v4/projects/{projectId}/hardwareTiers]

### Get hardware tiers for a project [GET]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fetch hardware tiers for.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (array[v4 hardware tier with capacity])


## Project collaborators [/v4/projects/{projectId}/collaborators]

### Add collaborator to project [POST]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to add a collaborator to.

+ Request (application/json)

    + Attributes

      + collaboratorId: `string` (string) - ID of the user to add as a collaborator.
      + projectRole: `Contributor` (enum[string]) - Role permissions to grant the collaborator.
          + Members
              + `Contributor`
              + `LauncherUser`
              + `ResultsConsumer`
              + `ProjectImporter`

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Body

                {
                  "collaboratorId": "string",
                  "projectRole": "Contributor"
                }

+ Response 200 (application/json)

    + Attributes

      + collaboratorId: `string` (string) - ID of the user added.
      + projectRole: `Contributor` (enum[string]) - Role permissions granted.
          + Members
              + `Contributor`
              + `LauncherUser`
              + `ResultsConsumer`
              + `ProjectImporter`


## Remove collaborators [/v4/projects/{projectId}/collaborators/{collaboratorId}]

### Remove collaborator from project [DELETE]

**This is a beta endpoint available in Domino 2.8+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to remove a collaborator from.
    + collaboratorId: `5a73a6906ece7a7aed984654` (string, required) - ID of the collaborator to remove.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes

      + collaboratorId: `string` (string) - ID of the user removed.
      + projectRole: `Contributor` (enum[string]) - Role permissions removed from user.
          + Members
              + `Contributor`
              + `LauncherUser`
              + `ResultsConsumer`
              + `ProjectImporter`
              

## Connect Git repositories [/v4/projects/{projectId}/gitRepositories]

### Get project's Git repositories [GET]

**This endpoint is available in Domino 3.4+**<br>

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fetch Git repositories from.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (array[project Git repository])
              

### Add Git repository to project [POST]

**This endpoint is available in Domino 3.4+**<br>

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fetch Git repositories from.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY
    
    + Attributes (project Git repository)

+ Response 200 (application/json)

    + Attributes (project Git repository)


## Manage Git repositories [/v4/projects/{projectId}/gitRepositories/{repositoryName}]

### Update the reference of a Git repository [PATCH]

**This endpoint is available in Domino 3.4+**<br>

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fetch Git repositories from.
    + repositoryName: `repo1` (string, required) - Name of the repository the reference belongs to.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY
    
    + Attributes
    
      + type: `branches` (enum[string]) - Type of reference.
          + Members
              + `branches`
              + `tags`
              + `head`
              + `commitId`
              + `ref`
      + value: `master` (string) - Reference value.
      

+ Response 200 (application/json)



### Remove Git repository [DELETE]

**This endpoint is available in Domino 3.4+**<br>

+ Parameters

    + projectId: `5a73a6906ece7a7aed984654` (string, required) - ID of the project to fetch Git repositories from.
    + repositoryName: `repo1` (string, required) - Name of the repository the reference belongs to.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

# Group Datasets

These endpoints allow you interact with your
[Domino Datasets](https://support.dominodatalab.com/hc/en-us/articles/360020125052).

## Get or create Datasets [/dataset{?projectId}]

### Get a list of Datasets [GET]

**This is a beta endpoint available in Domino 3.6+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + projectId: `507f191e810c19729de860ea` (optional) - Optional, returns only datasets from the specified project.
    
+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (array[dataset response])

### Create a Dataset [POST]

**This is a beta endpoint available in Domino 3.6+**<br>
**Its specification may change in future versions of Domino.**

+ Request (application/json)

    + Attributes (create dataset request)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (dataset details response)
    

## Dataset operations [/dataset/{datasetId}]

### Get Dataset details [GET]

**This is a beta endpoint available in Domino 3.6+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + datasetId: `507f191e810c19729de860ea` - ID of Dataset to fetch metadata for.
    
+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (dataset details response)

### Update Dataset details [PATCH]

**This is a beta endpoint available in Domino 3.6+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + datasetId: `507f191e810c19729de860ea` - ID of Dataset to update metadata for.

+ Request (application/json)

    + Attributes (update dataset request)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (dataset details response)

### Delete Dataset [DELETE]

**Note: Archive Dataset has been changed to admin only operation Delete Dataset starting Domino 4.5**<br>
**This is a beta endpoint available in Domino 4.5+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + datasetId: `507f191e810c19729de860ea` - ID of Dataset to update metadata for.

+ Request (application/json)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200

+ Response 403

        The current user is not authorized to perform this operation


## Snapshot operations [/dataset/snapshot/{snapshotId}]

### Create Snapshot [POST]

**This is a beta endpoint available in Domino 4.5+**<br>
**Its specification may change in future versions of Domino.**

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

    + Attributes (create snapshot request)


+ Response 200 (application/json)        

    + Attributes (rw snapshot response)

### Get Snapshot details [GET]

**This is a beta endpoint available in Domino 3.6+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + snapshotId: `507f191e810c19729de860ea` - ID of snapshot to get.
    
+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (snapshot details response)

### Update Snapshot details [PATCH]

**This is a beta endpoint available in Domino 3.6+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + snapshotId: `507f191e810c19729de860ea` - ID of snapshot to get.
    
+ Request

    + Attributes (update snapshot request)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (snapshot details response)

### Archive Snapshot [DELETE]

**This is a beta endpoint available in Domino 3.6+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + snapshotId: `507f191e810c19729de860ea` - ID of snapshot to get.
    
+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

+ Response 403

        The current user is not authorized to perform this operation

## Create Dataset from Snapshot [/dataset/{snapshotId}/create{?name,description}]

### Create Dataset [POST]

**This is a beta endpoint available in Domino 4.5+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + snapshotId: `60b005d22121b85022adb126` (required) - ID of snapshot used to create the dataset.
    + name: `Dataset` (required) - Name of the new dataset created from snapshot.
    + description: `My Dataset from Snapshot` (optional) - Description of the dataset created from snapshot.

+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (rw dataset view response)

## Add tag to Snapshot [/dataset/{datasetId}/tag]

### Add tag [POST]

**This is a beta endpoint available in Domino 3.6+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + datasetId: `507f191e810c19729de860ea` - ID of dataset containing the snapshot to tag.
    
+ Request

    + Attributes (add tag to dataset request)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (snapshot details response)

## Remove tag from Snapshot [/dataset/{datasetId}/tag/{tagName}]

### Remove tag [DELETE]

**This is a beta endpoint available in Domino 3.6+**<br>
**Its specification may change in future versions of Domino.**

+ Parameters

    + datasetId: `507f191e810c19729de860ea` - ID of dataset containing the snapshot with tag to be removed.
    + tagName: `Production` - Name of tag to remove.
    
+ Request

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

    + Attributes (snapshot details response)


# Group Usage Data

## Get User Activity Report [/admin/generateUserActivityReport]

### User Activity json [POST]

**Only available in Domino 4+**

Returns a json of usage statistics per user in Domino. Requires admin acccess. 

+ Request (application/json)

    + Attributes (Usage Data)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)
    + Attributes (Usage Data Response)


+ Response 400 

        The server could not understand the request due to malformed syntax




+ Response 401 

        The current user cannot perform this operation because they are not logged in




+ Response 403 

        The current user is not authorized to perform this operation




+ Response 500 

        An internal error prevented the server from performing this action




## Get Runs Usage Data [/v4/gateway/runs/getByBatchId{?batchId,limit}]

### Runs data to json [GET]

**Only available in Domino 3.0.1+**

This endpoint can be used to batch extract Runs level data to be used in analizing usage statistics of Domino. Requires admin acccess. 

+ Request (application/json)

    + Attributes (Runs Data)

    + Headers

            X-Domino-Api-Key: YOUR_DOMINO_API_KEY

+ Response 200 (application/json)

        success

    + Attributes (Runs Data Response)


+ Response 400 

        The server could not understand the request due to malformed syntax




+ Response 401 

        The current user cannot perform this operation because they are not logged in




+ Response 403 

        The current user is not authorized to perform this operation




+ Response 500 

        An internal error prevented the server from performing this action

# Data Structures

## Runs Data Response
+ batchId: 1565722907558 (number) - (required) Id for the API batch response
+ runId: '5d5308d32314a50006a49d2c' (string) - (required) Run Id
+ title: '[Rerun] main.py' (string) - (required) Run title
+ command: 'main.py' (string) - (required) Run command
+ status: 'Succeeded' (string) - Run current status
+ runType: 'Batch' (string) - Run type
+ userName: 'john-doe' (string) - Username of user who started the run 
+ userId: '5d523fade09324f0f8235215' (string) - User Id of user who started the run 
+ projectOwnerName: 'john-doe' (string) - Username of owner of the project where the run was started
+ projectOwnerId: '5d523fade09324f0f8235215' (string) - User Id of owner of the project where the run was started
+ projectName: 'quick-start' (string) - Project name where the run was started
+ projectId: '5d523fad8a344900069eeeb3' (string) - Project Id
+ runDurationSec: 5.432 (number) - Duration of the run in seconds
+ hardwareTier: 'Large' (string) - Name of the hardware tier the run used
+ hardwareTierCostCurrency: 'USD' (string) - Currency units for run cost
+ hardwareTierCostAmount: '.0011' (string) - Dollars per minute per Run for this hardware tier. 
+ queuedTime: '2019-08-13T19:00:35.323Z' (string) - Time that the run was initialed requested
+ startTime: '2019-08-13T19:01:35.323Z' (string) - Run start time
+ endTime: '2019-08-13T19:02:35.323Z' (string) - Run end time 
+ totalCostCurrency: 'USD" (string) - Currency units
+ totalCostAmount: '.11' (string) - Total cost of the run
+ nextBatchId: 1566051748337 (number) - BatchId for the first run of the next batch of API response




## Usage Data Response
+ user_id: 'de7c4c496c55e773d961cb74a3756ff2f92c99366eabfcbbeba51c866cd3d3b5' (string) - User Id number
+ username: 'vdhawan' (string) - Username
+ email: 'jane.doe@example.com' (string) - User's Email Address
+ signup_date: '2018-10-05T14:23:57.435Z' (string) '- Data user first signed up for Domino
+ active_user: 'yes' (string) - Whether the user's account is active or deactivated
+ deployment_id: 'domino-trial' (string) - Stage name for the Domino Deployment
+ deployment_url: 'domino.example.com'(string) - Host url for the Domino Deployment
+ organization: 'marketing' (array) - List of organizations the user belongs to
+ license_type: 'Practitioner" (string) - Imputed license type
+ projects: 10 (number) - Number of projects excluding Quick-start
+ most_recent_activity: '2019-10-05T14:23:57.435Z' (string) - Date time of most recent Domino activity (e.g. start run, publish app)
+ practitioner_workloads_total: 10 (number) - Number of practioner activies in the time window
+ practitioner_workloads_recent: 8 (number) - Number of practioner activies in the time lookback window
+ batch_runs_total: 11 (number) - Number of batch jobs started in the time window
+ batch_runs_recent: 10 (number) - Number of batch jobs started in the look back window
+ scheduled_runs_total: 3 (number) - Number of scheduled runs in the time window
+ scheduled_runs_recent: 2 (number) - Number of scheduled runs in the look back window
+ workspace_runs_total: 13 (number) - Number of worksapces started in the time window
+ workspace_runs_recent: 11 (number) - Number of worksapces started in the look back window
+ launchers_total: 4 (number) - Number of launchers in the time window
+ launchers_recent: 3 (number) - Number of launchers in the look back window
+ app_publish_total: 5 (number) - Number of apps published in the time window
+ app_publish_recent: 6 (number) - Number of apps published in the look back window
+ model_publish_total: 34 (number) - Number of models published in the time window
+ model_publish_recent: 25 (number) - Number of models published in the look back window
+ report_date: '2020-06-08T17:24:11.377Z' (string) - Date the report was generated
+ recent_start: '2020-03-09T00:00:00.000Z' (string) - Start date of the look back window
+ recent_end: '2020-04-07T23:59:59.000Z' (string) - End date of the look back window

## Runs Data
+ batchId: 1566051748337 (number) - (optional) Starting id of the batch query
+ limit: 100 (number) -  (optional) The desired size of the batch to be returned

## Usage Data
+ `start-date': 03/08/2020 (string) - (required) Starting date for your usage data
+ `end-date`: 04/08/2020 (string) - (required) Ending date for your usage data
+ `lookback-days`: 30 (number) - (optional) Number of days in arrears for computing "_recent" column values
+ orgId: '5c48afdac9e77c00077234e9' (string) - (optional) ID of the user Organzation that you'd like to filter on


## Model Base
+ _id: `5a73a6b86278f5c536008832` (string) - The unique ID for the model.
+ name: Wine Quality Model (string) - (required) The name of the model.

## Create Base
+ projectId: `5a73a66cd4632584f7b0ed8d` (string) - (required) The unique id of the project the model will be bound to.
+ file: `predict.R` (string) - (required) Path to the file containing the model code. Defaults to the file used in the latest version of the model.
+ function: `predictQuality` (string) - (required) Defaults to the function used in the latest version of the model.
+ excludeFiles: `file1.data`, `file2.data`, `fileN.data` (array) - List of file names for the version to exclude. For example:

    ```python
[...]
