.topbar {
  position: relative;
  z-index: 0;
  background-color: #2D71C7;
}
.topbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  padding-top: calc(10px * 2);
  padding-bottom: calc(10px * 2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.topbar__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topbar__col--logo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.topbar-logo {
  width: 200px;
}
.topbar__col--nav {
  width: 100%;
}
