.topbar {
  position: relative;
  z-index: 0;
  background-color: #2D71C7;
}
.topbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  padding-top: calc(10px * 2);
  padding-bottom: calc(10px * 2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items:center;
}
.topbar__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topbar__col--logo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.topbar-logo {
  width: 200px;
}
.topbar__col--nav {
  width: 100%;
}
.topbar-nav-right {
  width: 100%;
  text-align: right;
}

#pointer {
  width: 400px;
  height: 40px;
  position:absolute;
  right: 10px;
  top: 12px;
  background: white;
}
#pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #2D71C7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
#pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #2D71C7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}